<div id="fullPage" class="fullpage-wrapper">
    <div id="section0" class="section" data-anchor="firstPage">
        <div id="profile-Image">
            <img class="img-responsive" src="<%= image_path 'Wilhem.jpg' %>" alt="Wilhem Arthur">
        </div>
        <h1 class="name">Wilhem Arthur</h1>
        <div class="links">
            <a target="_blank" href="https://www.linkedin.com/in/wilhem-barnes-89a72551"><i class="fa fa-linkedin"></i></a>
            <a target="_blank" href="https://twitter.com/WilhemArthur"><i class="fa fa-twitter"></i></a>
            <a target="_blank" href="https://github.com/miscbits"><i class="fa fa-github"></i></a>
        </div>
        <div class="next-section js-1-next">
            <i class="fa fa-arrow-down"></i>
        </div>
    </div>
    <div id="section1" class="section" data-anchor="secondPage"><h1>Section 2</h1></div>
    <div id="section2" class="section" data-anchor="thirdPage">
        <div class="slide">
            <h1>Section 3 Slide 1</h1>
        </div>
        <div class="slide">
            Section 3 Slide 2
        </div>
        <div class="slide">
            Section 3 Slide 3
        </div>
        <div class="slide">
            Section 3 Slide 4
        </div>
    </div>
    <div id="section3" class="section" data-anchor="fourthPage"><h1>Section 4</h1></div>
</div>
