<!DOCTYPE html>
<html>
<head>
  <title>WilhemArthur</title>
  <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true %>
  <%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
  <%= csrf_meta_tags %>
</head>
<body>

<header>
    <ul id="header-nav">
        <li><a data-menuanchor="firstPage" href="/#firstPage" class="active">section 1</a></li>
        <li><a data-menuanchor="secondPage" href="/#secondPage">section 2</a></li>
        <li><a data-menuanchor="thirdPage" href="/#thirdPage">section 3</a></li>
        <li><a data-menuanchor="fourthPage" href="/#fourthPage">section 4</a></li>
    </ul>
</header>
<%= yield %>

</body>
</html>
