<!DOCTYPE html>
<html>
<head>
  <title>WilhemArthur</title>
  <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true %>
  <%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
  <%= csrf_meta_tags %>
</head>
<body>

<header>
    <nav>
        <a href="#section1">section 1</a>
        <a href="#section2">section 2</a>
        <a href="#section3">section 3</a>
        <a href="#section4">section 4</a>
    </nav>
</header>
<%= yield %>

</body>
</html>
