<!DOCTYPE html>
<html class="fp-enabled">
<head>
  <title>WilhemArthur</title>
  <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true %>
  <%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
  <%= csrf_meta_tags %>
</head>
<body>

<header>
    <ul id="header-nav">
        <li data-menuanchor="firstPage" ><a href="#firstPage">section 1</a></li>
        <li data-menuanchor="secondPage"><a href="#secondPage">section 2</a></li>
        <li data-menuanchor="thirdPage" ><a href="#thirdPage">section 3</a></li>
        <li data-menuanchor="fourthPage"><a href="#fourthPage">section 4</a></li>
    </ul>
</header>
<%= yield %>

</body>
</html>
